DATABASE_URL=sqlite://./db.sqlite3

SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DEBUG=True
APP_NAME=My First app
APP_VERSION=0.1.0

LOG_LEVEL=INFO
